<div class="flex flex-col">
  <div class="rounded-lg bg-white shadow flex-grow">
    <!-- header content begin -->
    <div class="px-4 py-3 sm:px-6 md:sticky md:top-16 md:z-10 bg-white rounded-t-lg border-b">
      <div class="sm:flex sm:items-center">
        <div class="mt-4 sm:mt-0 sm:flex-none">
          <h1 class="text-base font-semibold leading-6 text-gray-900">New Application</h1>
        </div>
      </div>
    </div>
    <!-- header content end -->

    <div class="px-4 py-5 sm:p-6 flex-grow">
      <!-- table content begin -->
      <%= render partial: 'form', locals: { url: oauth_applications_path, method: 'POST', scopes: @scopes }%>
      <!-- table content end -->
    </div>
  </div>
</div>