<div class="flex flex-col mt-5">
  <div class="rounded-lg bg-white shadow flex-grow">
    <div class="px-4 py-5 sm:p-6 flex-grow">
      <%= render 'admin/partners/shared/form' %>
    </div>
  </div>
</div>