<div class="flex h-16 shrink-0 items-center">
  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
  <h1 class="ml-4 text-gray-700 font-semibold">OCPI Hub Company</h1>
</div>
