<div class="h-[84vh] flex flex-col">
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow flex-grow">
    <%= render 'header' %>
    <div class="px-4 py-5 sm:p-6 flex-grow">
      <%= yield %>
    </div>
  </div>
</div>
