<%= form_for @admin, url: url, method: method, html: { class: "space-y-3", role: 'form' } do |f| %>
  <div class="space-y-8 divide-y divide-gray-200">
    <div>
      <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-6">
          <label for="name" class="block text-sm font-medium text-gray-700">Email</label>
          <div class="mt-1 flex rounded-md shadow-sm">
            <%= f.text_field :name, disabled: f.object.id.present?, required: true, placeholder: "Enter admin name", class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-start">
      <%= link_to "Cancel", admin_admins_path, class: "rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      <%= f.button 'Save', class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>
<% end %>