<!-- component -->
<body class="antialiased font-sans bg-gray-200">
  <div class="container mx-auto px-4 sm:px-8">
    <div>
      <div>
        <h2 class="text-2xl font-semibold leading-tight">Connectors</h2>
      </div>
      <%= render 'connectors/search' %>
      <%= render 'connectors/index/table' %>
    </div>
  </div>
</body>